[2020-04-10 10:17] Houston4444 opened #1 "Appearence with Breeze Dark theme"
Hi.
You will see below how your software looks on KDE with Breeze Dark Theme.
I think I don't have to talk too much, the screenshot talks itself !

![superboucle](https://user-images.githubusercontent.com/3808689/78983556-bbeafc80-7b24-11ea-90a1-029160321386.png)

I didn't take time to test the software for the moment, I saw you renamed it, good point !

[2020-04-10 12:32] manucontrovento commented on #1
wow! a bit messy :)
I'll try to find the way to make the graphics not affected by theme.
Thanks!

[2020-04-11 06:14] manucontrovento commented on #1
Hi @Houston4444  maybe I found the solution; I'll include it in next release, among other improvements

[2020-04-11 07:51] Houston4444 commented on #1
Are the modifications made on master branch ?
If it is the case, I can quickly test the master branch.

[2020-04-11 07:59] manucontrovento commented on #1
Yes you could; but first you'll have to download the release of the "new" software (with the new name) or to download the whole master branch, which I updated after renaming the application, since following application name I changed all namespaces.

After dowloading current master branch or release, unpack in \spintool directory overwriting exhisting files:

[update_for_styles.zip](https://github

[2020-04-11 15:19] spectromas opened #2 "Feature Request: Timestretching and pitch shifting"
I've been having a lot of fun playing with this but very quickly I started to wish that it had some kind of time stretching capability so you can throw any samples in without worrying if it will fit.

Additionally, or perhaps very much related, it would be great to be able to pitch samples up and down, ideally with and without keeping the original sample speed.

[2020-04-11 15:54] manucontrovento commented on #2
Hi @spectromas  glad you're having fun!
yeah. time stretching would be a worthy feature, and big challenge to me, and it's already on my to-do list, in future... I can't tell when I'll face it..  You have to know that it's my first time developing on Linux, on Python, and dealing with audio-stuff too...
In these days I have more time because of this covid-19 thing... that's why I started developin

[2020-04-11 15:54] manucontrovento commented on #2
Sorry. I closed the issue, just re opened

[2020-04-11 16:08] spectromas commented on #2
Sure, no worries, I can see that it's a big step and I'm sure would involve a lot of work. I know from people making similar additions to Renoise with tools that there are libraries around that can do it, at least on a basic level (sox comes to mind), but I have no idea about how it would fit with your code and python. It's all good though, this is very useful as it is.

[2020-04-13 11:03] manucontrovento commented on #1
Hi @Houston4444

please try with new release:

https://github.com/manucontrovento/SpinTool/releases/tag/v20.04.13

and let me know

[2020-04-13 11:11] manucontrovento opened #3 "Unique settings / preferences class"
I'd like to keep all preferences and settings in just one class, with access from every application window / function

[2020-04-13 11:13] manucontrovento opened #4 "scenes renaming"
I'd like a function to rename scenes in manager

[2020-04-13 11:16] manucontrovento opened #5 "Localization and help"
I'd like a multi-language application, with a translation function.

and since it would be a hard work to translate (and to keep up to date) the Wiki n many languages, it could be interesting to have some  tooltips  with runtime help, localizable, with detailed description of each function

[2020-04-13 11:17] manucontrovento opened #6 "Other OS setup"
In future, it could be nice to have some up to date windows and mac setup or distributions

[2020-04-13 16:11] Houston4444 commented on #1
Hi.

Different but not really better !
PS: ./Spintool.sh needs a chmod +x

![Screenshot_20200413_180942](https://user-images.githubusercontent.com/3808689/79136912-10ef7280-7db2-11ea-8f73-ff70a7e6e0da.png)

[2020-04-13 16:31] manucontrovento commented on #1
Hi! I don't know what to say, I thought that forcing stylesheets for all widgets (in previous version there were no stylesheets) would have forced the appearence to look as I see it.
It seems that the os theme affects the appearence overriding the stylesheets settings and at the moment I don't know how to change it.. I'll search on some forum.

Did you download new version and completely delete al

[2020-04-13 17:08] Houston4444 commented on #1
This is with the new version (and there were no files remaining because of the name change).
Something else, console output says this multiple times (without doing anything).

Traceback (most recent call last):
  File "/home/houston/codes_sources/SpinTool-20.04.13/superboucle/gui.py", line 609, in onBeatOffsetChange
    self.last_clip.beat_offset = self.beat_offset.value()
AttributeError: 'NoneTyp

[2020-04-13 17:38] manucontrovento commented on #1
Ok, interesting, I'll have a look at it.
It's strange because in my console I don't see that message. It's something I want to understand, however I don't think it's the reason of the strange appearence
Meanwhile I asked for some help in a forum, I'm quite sure that someone else has faced the same problem.

[2020-04-14 07:00] sonejostudios commented on #1
@Houston4444  Just a question: Is this also happening with the original SuperBoucle from Vampouille?

[2020-04-14 07:11] sonejostudios commented on #2
This is of course a nice-to-have but also really difficult and time-consuming to implement if you want to do it properly. If not, it could add a lot of drawbacks to the software, especially if you want to do it in realtime. It will also add o lot of resource consumption, which will also add latency. I hat a lot off issues with Luppp because of this and that was the reason I switched to SuperBoucle

[2020-04-14 07:21] Houston4444 commented on #1
Sorry, I made a mistake.
This message appears applying mouse wheel on the Beat amount spinBox .
In SuperBoucle, this groupBox  is not Enabled.

[2020-04-14 07:28] sonejostudios opened #7 "Font size in Playlist and Scene Managers"
Hi @manucontrovento ,

this is a small feature I was thinking about for a long time. The possibility to change the font size of the Playlist and The Scene Managers. While on the stage, sometimes the computer has to be far away from the controller, and it is difficult to read. Maybe one could change this in the config dialog, or directly in the Manager's Dialog (like a "use big font" checkbox)
I th

[2020-04-14 07:32] sonejostudios commented on #1
@Houston4444 . Sorry to have been not precise enough...my question was, Is the whole dark theme problem also in original SuperBoucle from Vampouille?
(but good to know the beat amount spinbox problem is new! ;) )

[2020-04-14 07:50] manucontrovento commented on #1
Ok! Thanks! I will fix it!

[2020-04-14 08:05] manucontrovento commented on #7
Hi, I was thinking about it as well :)
The solution could be font scaling. The other thing I was thinking about: a panel with big fonts which shows different kind of "messages" and tools. Do you remember Guitarix "live" mode? Something like that..

[2020-04-14 08:21] sonejostudios commented on #7
I don't know Guitarix Live mode, but I'm sure it will also do the trick! ;)

[2020-04-14 09:48] manucontrovento commented on #2
Hello everyone

I agree with @sonejostudios ; yesterday I was thinking about it and actually I found a Py library I could use. But, as Vince says, I don't know how this could affect performance.
A good idea could be a "destructive" time-pitch-stretching, i.e. a function which can stretch and transpose your loop when importing it, and this new loop replaces the original and assignes it to the clip.

[2020-04-14 15:27] Houston4444 commented on #1
@sonejostudios, no appearance problem in SuperBoucle.
Note I did test the last SuperBoucle release, not the master.

[2020-04-14 15:55] manucontrovento commented on #1
It's true that it's my first time dealing with Qt, but I'm a bit confused about stylesheets... what's the use of defining them, if changing a theme it still affects the widgets?...
there must be something obvious that I'm not catching

[2020-04-14 16:41] sonejostudios commented on #1
This is interesting... if the problem was not in SB Master, what did you change @manucontrovento in the GUI so the proplem appears? Maybe just go back to the original theme? How did you change the gui, with QtDesigner or programmatically?

[2020-04-14 16:54] manucontrovento commented on #1
I really can't reply to these questions.. because I don't know! I didn't intentionally change any theme.. I even didn't know that the application could have a theme.
With Qt Designer I made my changes to the UI, and then when @Houston4444 reported me the problem, I assigned styilesheet to every UI element (window included) to be sure that they would appear as I decided.

[2020-04-14 17:17] sonejostudios commented on #1
This is really weird because it should be the same on SB Master... @manucontrovento did you try to force the Qt Style?

[2020-04-14 17:33] manucontrovento commented on #1
@sonejostudios if you mean the code you sent me, I'll try next days :)

[2020-04-14 17:48] sonejostudios commented on #1
yes, this code! ;)

[2020-04-16 19:56] manucontrovento commented on #1
Hi @Houston4444
try downloading new spin.py module:

https://github.com/manucontrovento/SpinTool/blob/master/superboucle/spin.py

thanks to @sonejostudios  I found the way to force the theme. I realized I was wrong on how Qt manages its appearence. Maybe when SB was developed, system Qt theme was gtk2. So, its "real" appearence needs to be that theme.
Now on starting, gtk2 theme is applied.

[2020-04-23 08:37] manucontrovento commented on #7
do you mean, like this?

![immagine](https://user-images.githubusercontent.com/56541575/80077595-02d9e880-854e-11ea-8456-2823314ac408.png)

done!
you will have it in next release :)

[2020-04-23 08:37] #7 closed, assigned to nobody

[2020-04-23 08:42] manucontrovento commented on #1
Hi @Houston4444 did you try the changes? It's included in latest release too.
If you don't see the problem anymore we can close the issue

[2020-04-23 15:45] Houston4444 commented on #1
Sorry no, it's exactly the same.
But as I run KDE Neon, I have always the last KDE version, and now I don't find anymore the GTK appearence configuration, I don't know what they have made, it can't be strange.

[2020-04-23 16:35] manucontrovento commented on #1
Ok, now I understand! to properly work, Gtk theme is required.
So first of all I should write it into prerequisites, since I don't see any other possible solution.
Or maybe I should find the way to download and install the theme along with other dependencies and requirements

[2020-05-03 09:56] manucontrovento commented on #6
Thinking About it, I don't know so well how Jack client Will behave in other systems than Linux,  with connections,  outputs,  etc... so mane it's batter focusing on improving the Sw in Linux.

[2020-05-03 09:56] #6 closed, assigned to nobody

[2020-05-15 23:15] manucontrovento commented on #3
solved in release 20-05-16

[2020-05-15 23:15] #3 closed, assigned to nobody

[2020-05-15 23:15] manucontrovento commented on #1
Hi, could we close the issue? did you try with gtk theme?

[2020-05-17 22:45] manucontrovento opened #8 "Multi-input ports and recording"
As for output ports, it would be nice to have multiple input ports, so that it could be possible to select different input port for each clip, for recording, to use different channels of an audio board.
Then a feature for simultaneous multiple clip recordings could be useful. Mabye clips could have a recording group, as for the mute group, and triggering a clip being part of a group could trigger

[2020-05-18 19:19] manucontrovento opened #9 "Un-assign midi controls"
At now it is not possible to un-assign some keys or knobs of a configured midi controller, the only way is to create a new different midi controller with different assignments. I'd like the midi-learn window to open allowing the user to un-assign just some keys of the controller.

[2020-05-20 11:13] sonejostudios opened #10 "Remove "Add new Port..." from output port combobox in main window"
We should remove this because it is not really needed.

Alternatively, we could keep it but start then the port manager instead of the new port name dialog.

[2020-05-20 11:18] sonejostudios opened #11 "add menu item: save song as empty template or new songs preferred settings"
saves an song with the ports and all the other settings but without any clips and samples

[2020-05-20 11:27] sonejostudios opened #12 "Port Bug"
The non-existing ports in jack are not removed while loading a new song. They are removed in ST, though, but not in jack!

I thin the best way to solve it would be to call "updateJackPorts" (gui.py line 755) after each song loading.

[2020-05-21 10:31] manucontrovento opened #13 "Massive change of songs master volume"
I'd like to have a function to select some songs (from file system, or from a playlist, or both) and for all of them change the master volume. Checking of course that result volume stays between 0 - 100 range

[2020-05-22 06:22] manucontrovento commented on #11
We'll also consider another option: to change the "new song" dialog. There could be also a preferred master volume (suggesting 50), bpm, maybe beats number, and especially a field with a file selector to select a port list (main need is in fact to automatically have a port list when creating a new song).

We could save somewhere in settings the user' preferred starting settings. Maybe with specifi

[2020-05-31 10:55] manucontrovento commented on #11
It will be in Next release

[2020-05-31 10:55] #11 closed, assigned to nobody

[2020-05-31 10:57] manucontrovento commented on #10
Done in Next release

[2020-05-31 10:57] #10 closed, assigned to nobody

[2020-05-31 11:03] manucontrovento opened #14 "disable Record button if there are no system input ports"
If using a Jack session with no system input ports (no inputs from soundboard), I'd like to disable Record function,  and maybe not to create spintool input ports too

[2020-06-03 21:02] manucontrovento opened #15 "Exporting all samples without duplicates"
At now, the export all samples function is producing duplicated files, if the same sample is used on more clips.
For someone it's fine since it exports all clips marking their position on grid too.
But I'd like an option to skip already-exported samples.

[2020-06-11 17:47] #12 closed, assigned to nobody

[2020-06-11 17:48] sonejostudios opened #16 "load playlist as cli argument"
give a playlist as argument and load the first song of it.
(and don't save and loads the playlist from the settings?).
So, if you don't give arguments (or you give song) , the loaded playlist is last used (from Settings). But if you give a playlist as argument, it will be loaded and also first song in playlist will be loaded.

[2020-06-17 07:12] manucontrovento commented on #1
Not getting any news I close the issue, if there will still be problems even with gtk theme present, we'll re-open the issue.

[2020-06-17 07:12] #1 closed, assigned to manucontrovento

[2020-06-21 09:37] manucontrovento commented on #16
it will be in next release!

[2020-06-21 09:37] #16 closed, assigned to nobody

[2020-06-21 14:32] manucontrovento commented on #15
not useful at the moment

[2020-06-21 14:32] #15 closed, assigned to nobody

[2020-07-09 11:02] sonejostudios opened #17 "add "new" and "duplicate" in the midi config dialog"

[2020-07-09 11:15] sonejostudios opened #18 "Prevent quit/application exit while playing"
with a warning dialog

[2020-07-09 11:26] sonejostudios opened #19 "Implement NSM ?"
https://github.com/linuxaudio/new-session-manager

https://github.com/diovudau/pynsm2

[2020-07-09 12:40] diovudau commented on #19
I'll gladly help personally.

[2020-07-09 13:57] sonejostudios commented on #19
Hi @diovudau ,

We'll talk about it but personally I really would like to implement NSM into SpinTool. Since SpinTool is written in Python, I have the following question:

pynsm2 is now archived on github. Does it mean something? (development was stopped, new version is coming, deprecated?)

[2020-07-09 14:51] #18 closed, assigned to nobody

[2020-07-09 14:52] sonejostudios commented on #18
exit warning dialog added before closing application

[2020-07-09 21:15] diovudau commented on #19
I moved development from github to https://git.laborejo.org/lss/pynsm

Before the recent github redesign the message about this was the very first at the top of the github project, but now it moved into the sidebar.

[2020-07-10 10:36] sonejostudios commented on #19
@diovudau Oh, thank you for the hint! We have a couple of things we want to finish first before the next release, but then we'll come to you! All the best

[2020-07-16 09:55] manucontrovento commented on #9
Done; it will be available on next release

[2020-07-16 09:55] manucontrovento commented on #9
Done; it will be available on next release

[2020-07-16 09:55] #9 closed, assigned to nobody

[2020-07-16 09:57] manucontrovento commented on #5
In addition to tooltips, I'd like to move the most possible help text (taking it from Wiki and improving it) to a contextual "online" help. E.g., ALT+Left Click on something, shows some instructions related to the object

[2020-07-25 07:51] manucontrovento commented on #5
Online Help is done, we'll need language translations when possible, for online help, manual, and tooltips

[2020-07-27 06:49] manucontrovento opened #20 "Integrated help not working after loading a song"
The integrated help (point + H key)  is not working anymore, after loading a song

[2020-07-28 09:07] manucontrovento commented on #20
Actually, giving focus to another window, then back to Gui again, H context help works again.

[2020-07-28 09:08] manucontrovento opened #21 "Add MIDI config description"
In MIDI device configuration, add MIDI configuration description (near to name, in interface)

[2020-07-31 21:49] manucontrovento opened #22 "Unlink mixer button icon not changing"
When function "Unlink mixer" is triggered from controller, icon on mixer window doesn't change

[2020-08-04 10:16] manucontrovento opened #23 "Shift button not toggled after Force clip"
If using SHIFT midi button to force a clip, even if the Disable shift preference is ON, after triggering a clip, the shift function is still ON.

[2020-08-04 15:16] manucontrovento commented on #23
solved in master branch.

[2020-08-04 15:16] #23 closed, assigned to nobody

[2020-08-21 14:06] manucontrovento commented on #21
Added in a new Notes section

[2020-08-21 14:06] #21 closed, assigned to nobody

[2020-08-21 22:53] manucontrovento commented on #22
fixed in master branch

[2020-08-21 22:53] #22 closed, assigned to nobody

[2020-08-21 23:19] manucontrovento commented on #20
already tried  self.focusWidget(), self.activateWindow() and self.raise_()....
in gui.py

no way....

[2020-08-22 10:57] manucontrovento commented on #20
fixed in master

[2020-08-22 10:57] #20 closed, assigned to nobody

[2020-08-25 14:00] manucontrovento opened #24 "Interpolation"
Since ST mixer is intended as live mixer, we should manage audio interpolation when performing with mixer (when changing stripes volumes and muting/unmuting outputs)

[2020-08-25 19:56] sonejostudios opened #25 "On/Off checkbox for the sends"
nice idea to implement

[2020-08-28 13:32] manucontrovento commented on #5
I started handling translations, but it is a **huge** work and most of all all followings changes would oblige people to handle translations everywhere. Too much work now and in future too - both for me and for others.

[2020-08-28 13:32] #5 closed, assigned to nobody

[2020-08-28 13:35] manucontrovento commented on #8
After the output ports refactoring we understood better how ports are managed. Anyway, I'll eventually face this HUGE work in future, if/when really needed.

[2020-08-28 13:35] #8 closed, assigned to nobody

[2020-08-28 14:41] manucontrovento opened #26 "Monitor system sensors"
In new Info panel, it would be nice to read status of memory charge, cpu charge and temperature.
using **psutil**: https://psutil.readthedocs.io/en/latest/

[2020-08-28 15:27] manucontrovento commented on #25
@sonejostudios do you think they shoud have default on/off values and status save/restore and custom reset as the other mixer controls? I'm not so sure about that... what do you think?

[2020-08-29 10:38] sonejostudios commented on #25
IMO:
default: on
save/restore: I don't need this (default "on" is enough), but as everything is saved/restored, we should continue in that way...
custom reset: yes! (because it is a "live"- feature)

[2020-08-29 14:43] manucontrovento commented on #17
added Clone function, will be in next release

[2020-08-29 14:43] #17 closed, assigned to manucontrovento

[2020-08-29 14:59] manucontrovento commented on #4
Will be in next release!

[2020-08-29 14:59] #4 closed, assigned to manucontrovento

[2020-09-04 18:40] slyholborn opened #27 "Non sound in fedora 32"
Hi! Everything works well (way better than in superboucle) on my fedora 32, exept that i have no sound (got some on super boucle) Here's what the console is saying :
`Initialize settings
Settings initialized
Initialize common
Common initialized
QSocketNotifier: Can only be used with threads started with QThread
inotify_add_watch(/home/sylvain/.config/ibus/bus/b91dffc67463443d9745304768730285-unix-

[2020-09-05 04:34] manucontrovento commented on #27
Hi @slyholborn and thanks for writing. Unfortunately, about audio "engine" I'm not so skilled (e.g. I wanted to apply some changes as well, but I found out that dealing with audio and jack in python is not that simple). So all my improvements are related to other features at the moment.
Anyway, it seems something related to audio file. Could you attach the .sbs song file, so that I can try it on m

[2020-09-05 10:15] sonejostudios commented on #27
Hi @slyholborn
 I'm wondering about `(No space left on device)` ... is your memory full?
It looks like the audio data can't be copied to memory, thus while ST tries to read it from memory, the (reading-) "index is out of bound".

[2020-09-05 10:36] slyholborn commented on #27
No, memory is good, the monitoring is around 75%. I had the same issue in superboucle once. Can't remember if i had sound at this time... I run a RT kernel and realtim priorities are OK.

[2020-09-05 10:58] slyholborn commented on #27
I just noticed that if green stops blinking once I click the window, the progression bar won't move...

[2020-09-05 16:39] sonejostudios commented on #27
If the progress bar is not moving, there is no audio data to read in memory.

Is this happening with an old song or is this a new song you just created? Please create a new song with only one clip a look if it works.

If this still not works, it might be a problem with pysoundfile. Which version of pysoundfile do you have on your computer? ST needs the latest (at least >= 0.8.0)

in the terminal,

[2020-09-05 16:50] slyholborn commented on #27
[sylvain@juloubureau ~]$ python3
Python 3.8.5 (default, Aug 12 2020, 00:00:00)
[GCC 10.2.1 20200723 (Red Hat 10.2.1-1)] on linux
Type "help", "copyright", "credits" or "license" for more information.

'0.9.0'

[2020-09-05 16:51] slyholborn commented on #27
it's a test with a solo clip (wav format) which works on superboucle

[2020-09-05 16:53] sonejostudios commented on #27
Okay, everything looks fine.

Could you send us this new .sbs song with one clip? I could try on my setup.

[2020-09-05 16:59] slyholborn commented on #27
https://drive.google.com/file/d/16kDjojLbY5BQsCdlkt5BksCz1PwC6D-Z/view?usp=sharing

[2020-09-05 17:08] sonejostudios commented on #27
Okay, the song is playing on my setup (nice guitar btw!).
@manucontrovento any idea what it could be?

@slyholborn is this song playing on Superboucle?

[2020-09-05 17:59] slyholborn commented on #27
Argh, yesterday it did, but not today...
[code]

[2020-09-05 18:00] slyholborn commented on #27
I know it has wayland issues but it should'nt affect sound, should it?

[2020-09-05 21:18] sonejostudios commented on #27
Well, it could be a wayland thing.... but unfortunately I have no clue about wayland...

It would be really interesting to know if this songs plays with Souperboucle, because then, we can narrow the bug possibilities.

[2020-09-05 21:59] manucontrovento commented on #27
Unfortunately I have no clue about wayland, too... The only idea I had is what @sonejostudios already tried: loading your song
I suggest the same: let's find out if this songs plays with Souperboucle

[2020-09-06 13:02] slyholborn commented on #27
it doesn't play in superboucle, neither in a wayland nor in a xorg session...

[2020-09-06 19:18] manucontrovento commented on #27
As soon as possible I'll try loading the song too. But I think I'll get the same result as @sonejostudios

[2020-09-11 10:01] manucontrovento commented on #27
Unfortunately, I have no clues..
I opened the .sbs package and on my system it works...
Maybe we should check on some fedora+jack related forum?

[2020-09-11 10:05] manucontrovento opened #28 "System temperature monitoring"
Since version 20.09.10 I added the "System monitoring" feature; I wanted to show (for the moment) the available memory, the CPU ussage, and the overall system temperature. About the temperature, following the examples in psutil web page, I didn't get to properly read it...

System data are checked in the Callback function in spin.py, if system monitoring is enabled.

[2020-10-03 16:00] vjustov opened #29 "Using with launchpad.py"
Hello, Thank you for your work.

Im currently trying to run the app on a RaspberryPi 4 with a Launchpad MK1
this currently doesn't work because of reasons (to me) unknown.
What would I need to do in order to connect the app with the [launchpad.py library](https://github.com/FMMT666/launchpad.py)?

[2020-10-03 22:48] vjustov opened #30 "Crashes on Raspberry Pi 4"
## What

The app crashes when i try to record a clip.

UPDATE: if I don't have jack running before hand it SEEMS to not crash.

## Steps to reproduce
0. Have Jack running
1. open app
2. create an empty clip
3. press play
4. press record
5. CRASH

### Logs
spintool
[code]
Jack
[code]

EDIT: adding verbose jack messages.
[code]

[2020-10-04 19:06] sonejostudios commented on #29
Hi!
Until now SpinTool is only using standard midi configurations, which you can create in SpinTool. I'm using ST with a Launchpad S with Midi. If you like, I can send you my config file, or you create your own. Until now we didn't know about launchpad.py, which is a very interesting project! It would be nice to include into ST, but we both have right now no time to do it... I hope it will be poss

[2020-10-04 19:12] sonejostudios opened #32 "prevent ST to start if jack is not running"
actually,  if jack is not running, ST is starting jack (with last used config). It is that what we want?

[2020-10-04 20:45] manucontrovento commented on #30
Hi @vjustov ,

we both tried but we can't currently reproduce the crash, since we can't force Jack to be in "zombified" status.
Of course we'll try to prevent SpinTool from crashing, but the problem seems related to Jack. SpinTool is crashing because Jack is zombified.
Are other jack applications working? if Jack is in that status, they shouldn't.

[2020-10-04 21:07] sonejostudios commented on #29
Actually, launchpad.py is using PyGame, and is not related to music. So I don't know why using it would be interesting for ST.

[2020-10-21 17:42] vjustov commented on #29
ok, my current problem is that ST doesnt seem to recognize my Launchpad, id like to debug the issue is there a discord/gitter server where i can ask more beginner questions?

Where should i start to look to find what the problem is?

[2020-10-21 17:55] vjustov commented on #30
So i Just upgraded raspbian and installed everything from the beginning, and im getting the same behavior but slightly different message

ST:
[code]

Jack:
[code]

[2020-10-21 19:42] sonejostudios commented on #29
Is your Launchpad recognized by jack? by alsa?
Is Launchpad MK1 using midi at all?

[2020-10-21 20:17] vjustov commented on #29
Yes, it is recognized by ALSA (and im able to use it with other software like Giada)
![photo4936054580576364723](https://user-images.githubusercontent.com/4332586/96777980-4d4bfd00-13eb-11eb-9884-b9c8e8103fdb.jpg)

[2020-10-21 20:33] sonejostudios commented on #29
ok. ST is using jack midi, which is different than alsa midi (look at the tab MIDI in jackctl, between Audio and ALSA).
You'll just need a Bridge, like a2jmidid. If it is installed, just type in the terminal:
`
a2jmidid -e`

Have a look to the MIDI tab, your launchpad should be visible. Then you'll need to connect in both directions.
![image](https://user-images.githubusercontent.com/12187481/9678

[2020-10-21 20:42] vjustov commented on #29
Oh, perfect that works! for the the controller, Thank you very much @sonejostudios
(i would recommend adding that info to the wiki)

Now if i could just get the app to not crash (#30), been trying to debug it for the past 2 hr,
but python is a new environment for me and i think its failing on some library side.

[2020-10-22 18:48] sonejostudios commented on #30
This is really weird. Do you have an other Linux OS to try out? Maybe it is related to raspbian?
Are you using the latest ST version?

[2020-10-22 18:50] sonejostudios commented on #29
you are welcome!

it is already ;)
Point 8. in https://github.com/manucontrovento/SpinTool/wiki/3.-Get-started

[2020-10-22 19:05] #29 closed, assigned to nobody

[2020-11-02 12:42] grammoboy2 opened #34 "Ableton Link support"
https://github.com/Ableton/link
https://github.com/rncbc/jack_link
https://github.com/falkTX/Hylia/blob/master/hylia.h
https://media.ccc.de/v/lac2018-42-ableton_link_a_technology_to_synchronize_music_software

For use with SuperCollider and Tidal Cycles, will be a great match.
Also Carla and Ardour has Link support, and there is jack_link, which attempts to add Link support via JACK Transport

Edi

[2020-11-02 13:30] grammoboy2 commented on #2
Isn't librubberband the timestretching thing on Linux?
https://breakfastquay.com/rubberband/

[2020-11-02 13:58] sonejostudios opened #35 "Edit clip loop with external software"
Have a button in the clip properties to edit the sound with an external software (which can be set up in the prefs). E.g Audacity.
Find a way to edit the sound directly from the .sbs file OR export it to a temp folder, edit it and re-import/overwrite it inside the .sbs file.

[2020-12-11 17:09] grammoboy2 opened #36 "Jack_transport tempo bpm number not updated"
When you set jack_transport to 140, spintool seems to follow the tempo, but the bpm number in spintool still gives 120 bpm.

I'm trying to sync it with jack_link / Ableton Link.

https://linuxmusicians.com/viewtopic.php?f=19&t=22430&p=126653#p126653

[2020-12-11 17:16] grammoboy2 commented on #36
I think it works by the way to sync spintool with Ableton Link via jack_link

[2020-12-11 17:16] grammoboy2 commented on #34
See also
https://github.com/manucontrovento/SpinTool/issues/36

[2020-12-11 17:17] grammoboy2 commented on #36
All though spintool is now crashing... but that has probably nothing to do with this

[2020-12-11 17:18] grammoboy2 commented on #36
malloc(): unsorted double linked list corrupted
./SpinTool.sh: line 5: 14265 Aborted                 python3 superboucle/spin.py

[2020-12-11 17:22] grammoboy2 commented on #36
Another crash

Could not parse stylesheet of object QLabel(0x2723290, name = "clipping_label")
./SpinTool.sh: line 5: 14836 Segmentation fault      python3 superboucle/spin.py

[2020-12-11 17:28] grammoboy2 commented on #36
Works, but unusable here due to many crashes

./SpinTool.sh: line 5: 15029 Segmentation fault      python3 superboucle/spin.py

[2020-12-17 12:18] manucontrovento commented on #36
HI @grammoboy2 , unfortunately I can't take care immediately of the problem, I'll take a look as soon as possible!
I suggest to separate the 2 things, so the bpm value not updating on screen and the crashing issue. I'd suggest to open a further issue for the second problem according to the initial subject

[2020-12-20 17:26] sonejostudios commented on #36
Hi @grammoboy2
I never tried jack_link or Apleten link, so I don't know exactly the issue with it. But:
SpinTool works as jack master, so you only should change the tempo within SpinTool. I think since SpinTool can't be set as jack slave, it is not possible for now to change the tempo somewhere else.
Actually this behaviour was set in SuperBoucle, we didn't change anything about this. Would you ne

[2020-12-20 17:29] grammoboy2 commented on #36
It works with SuperBoucle AFAIK
See here a workflow with PureData and SuperCollider
https://linuxmusicians.com/viewtopic.php?f=19&t=22430

[2020-12-21 09:46] sonejostudios commented on #36
Did you try it with SuperBoucle or do you just know it from the post?
I didn't change anything in the code concerning the BPM and I don't know where it is located and how it works. @manucontrovento  did you change anything?

Before I dive deep into the old (messy) code to figure it out, I really want to know if this is working as espected with SuperBoucle or not. If it was working with SB and is n

[2020-12-21 09:49] grammoboy2 commented on #36
I did try it myself. The code is there on the forums. Pure Data example is pretty simple. Try it! (I did mostly use SuperCollider)

[2020-12-21 09:54] sonejostudios commented on #36
I just tried with ST and Hydrogen. Transport is working in both directions (I can press Play on H2 and ST will start). But ST is definitely jack master: If I set H2 to jack master, and change the BPM (to 130) and start the song, H2 automatically comes back to 120 bpm (set by ST). That mean, it work as expected (ST = jack master and only one master is allowed).

@grammoboy2 Did I understand correct

[2020-12-21 09:58] grammoboy2 commented on #36
Did you actually read that forum post? Did you launch Pure Data? Did you launch jack_link? Did you follow the guide?

[2020-12-21 10:01] grammoboy2 commented on #36
Ah sorry, this is not the Ableton Link / Jack_link issue. But related of course.

This issue is about, when you change the bpm of jack_transport (running in the terminal: jack_transport, tempo 140). Then the bpm display in SpinTool still says 120.

But my final goal was to sync SpinTool with Ableton Link, using jack_link (and supercollider or puredata).

[2020-12-21 20:32] manucontrovento commented on #36
Hi, I don't remember changing anything about setting up tempo in Jack module. I'll check, but I think I didn't change anything.
About having ST as a jack slave, I think it could be easy, probably in Jack module we'll find the parameter to have the application as slave. I'll check. Unfortunately in these days I have really few time, I'll let you know as soon as possible

[2020-12-21 20:43] grammoboy2 commented on #36
I think the end goal should be to have SpinTool/SuperBoucle synced to Ableton Link.

This can be done via native Ableton Link support or using jack_link.

Jack_link works via jack_transport. So to get jack_link working, SpinTool should follow (and display) bpm changes from jack_transport.

I think that's the situation. At the moment I'm not using spintool, but it would be fun to have it working. T

[2020-12-22 08:13] manucontrovento commented on #36
yes, as soon as possible I'll do some checks. So, to reproduce your situation I'll just need to install jack_link and connect it to jack and check what happens with transport?

[2020-12-22 09:12] grammoboy2 commented on #36
see: https://linuxmusicians.com/viewtopic.php?f=19&t=22430

[2020-12-23 10:15] sonejostudios commented on #36
Hi @grammoboy2
As far as I understand in the forum post, Ableton Link and jack_link are tools to sync applications between different machines, within a network. Is it this what you want to do or are you just working only on one machine? Because if you are working only on one machine, the old behaviour master/slave should work perfectly.

Furthermore, jack_link uses jack_transport AND is a bridge t

[2020-12-23 10:29] grammoboy2 commented on #36
For understanding Ableton Link, see the talk on the LAC2018 conference about it. It's in the links of the forum post.

Ableton Link, works on the local network only.

SuperCollider doesn't have jack_transport support, so Ableton Link and jack_link gives you a way to use JACK apps with Supercollider in sync. This will be on one computer.

Native Ableton Link support is probably better then jack_lin

[2020-12-23 14:21] sonejostudios commented on #36
@manucontrovento
here are some information about Link and Python: https://github.com/Ableton/link/issues/36
But there are some license-issues, so if we want to implement it, we should think about it.

for jack_link, see: https://github.com/rncbc/jack_link
But I don't know if there is a Python-API for it.

Otherwise we could consider adding a slave mode into ST. But I'm not totally sure about the u

[2020-12-23 14:30] grammoboy2 commented on #36
Timestretching might be a issue indeed.

[2020-12-23 14:46] sonejostudios commented on #36
Maybe just an idea as workaround:
with jack_midi_clock, you can send MIDI CLOCK according to jack transport. So when you start ST, you'll send MIDI CLOCK automatically. You could receive it with SuperCollider and it sould work (of course, ST will remain master).

This is the method I'm successfully using since a couple of years so sync external hardware to ST.

[2020-12-25 07:13] manucontrovento commented on #36
Hi! I checked the code and I found out why SuperBoucle didn't implement the master/slave choice (and SpinTool neither): I couldn't find in the JACK client python module a way to do it! I looked in module code and docs as well:

https://jackclient-python.readthedocs.io/en/0.5.3/api.html

But, as @sonejostudios correctly said, there would be no point since there is no time stretching in SB / ST.
So,

[2021-01-25 13:13] manucontrovento opened #37 "Scene properties panel (# cycles and following scene)"
It could be nice to have in the Scenes "manager" a properties panel to store some behaviour info, such as an optional number of cycles to perform (0 is default and it means Infinite), and if a number is defined, wich scene number has to be launched when the amount of cycles is reached (optional)

Typical usages include:

0 (default) = infinite
1 or greater = Scene will be looped the for the requir

[2021-01-25 19:50] sonejostudios commented on #37
Very nice idea!!

[2021-02-10 12:17] sonejostudios opened #38 "Automatic Backup of Song"
add an option in Preferences to automatically backup the songs.
- on song loading?
- on time interval ( but only if ST is NOT PLAYING)
- other ideas?

[2021-02-10 20:52] sonejostudios commented on #35
Yesterday I had a look to the python ZipFile library, to figure out how easy/difficult it would be to add a button "Edit Clip with external Editor". Theoretically it is easy doable, but in the practice it throws a lot of questions.

Here a summary:

- it is not possible, to edit a file within a zip file, so extracting/re-zipping is needed
- it possible to add a file to a zip file, bit if it alread

[2022-09-15 08:59] Vampouille commented on #36
Hello, sorry for this 2 years late comment ;-)
I'm the author of superboucle, as I remember, when writing superboucle, the jack library was missing some information to be able to implements the slave mode. We can receive the current position in the jack transport but a kind of decimal part was missing to be able to play accurately the sample. You only have position as BBT but you don't have the of

[2022-09-15 21:52] manucontrovento commented on #36
Hi @Vampouille and welcome back!!!
First of all thanks for your suggestions.
SpinTool development stopped a couple of years ago, and honestly I don't think I will resume it... I had a lot of fun adding features, discussing and defining new ones, also with @sonejostudios, and I think we did a nice job. But I also feel I had reached the best I could do. We had more features to implement, but I'd nee